.about-hero{
    color: white;
    padding: 100px 0;
    background-image: url(/ML-Studio-Frontend/images/logo/about01-banner.avif);
    background-size:cover;
    background-position:bottom;
    background-repeat: no-repeat;
    
}